
<style>
  .main {
    display: grid;
    grid-template-rows: auto 1fr;
    /*padding: 20px;*/
  }

  .container {
    width: min(90%, 400px);
    margin-inline: auto;
    margin-left: 20px;
    padding-top: 60px;
  }

</style>

<main class="ff">
      <h2><a href="/">Hello, {{ title }}</a></h2>
      <mat-toolbar color="primary">
        <nav>
          <a mat-button routerLink="/messages" routerLinkActive="active">Messages</a>
          <a mat-button routerLink="/partners" routerLinkActive="active">Partners</a>
        </nav>
      </mat-toolbar>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
</main>


<router-outlet></router-outlet>
